@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #e3e9f7;
}

.custom-img {
  background-image: url("../public/hero-image.jpg");
}

@media only screen and (min-width: 360px) and (max-width: 1023px) {
  #about {
    padding-top: 5rem !important;
  }
  #habilities {
    padding-top: 5rem !important;
  }
  #contact {
    padding-top: 5rem !important;
  }
}
